
.popup-body {
    min-width: 237px;
    padding: 21px;
    background: #339266;
}
.hz-logo img {
    display: inline;
}
.hz-descr {
    border-top: 1px solid #00ff89;
    min-width: 277px;
    border-bottom: 1px solid #00ff89;
    margin-top: 17px;
    margin-bottom: 14px;
    position: absolute;
    width: 328px;
    margin-left: -29px;
    background: #ddea58;
    font-size: 15px;
    color: #1ba163;
    line-height: 24px;
    padding: 18px 65px;
}
.hz-title {
    display: inline;
    position: absolute;
    margin-top: -3px;
    margin-left: 12px;
    color: white;
}
span.version {
    float: right;
    margin-top: 22px;
    color: #4affee;
    font-size: 12px;
}
.inputSelBut {
    width: 146px;
    height: 28px;
    background: rgb(87, 203, 255);
    font-size: 18px;
    border: 1px solid #607D8B;
    box-shadow: 2px 2px 2px black;
}
textarea#searchContent {
    border-color: #19ba6f;
    margin-bottom: 13px;
    max-height: 150px;
    min-width: 290px;
    font-size: 17px;
}
.searchOption {
    margin-top: 98px;
}
